.navStyle {
  margin: 5px;
}
.navStyle2 {
  margin: 5px;
}
.linkSty {
  margin-left: auto;
}
.body {
  background-color: rgb(183, 230, 238);
}
.container {
  background-color: #d2f1e8;
}

.container-fluid {
  background-color: rgb(183, 241, 241);
}
.Navbar {
  background-color: lightseagreen;
}

.Banner img {
  width: 100%;
}
.imageStyle {
  width: 350px;
  height: 300px;
}

.Navb {
  background-color: rgb(187, 226, 224);
}
.footer {
  background-color: rgb(201, 103, 74);
}
.AboutStyle {
  background-color: rgb(153, 245, 181);
}
.image-fluid {
  height: 250px;
}
.HeadNav {
  margin-bottom: 50px;
}
